<% if current_user %>
  <h3>Welcome <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron text-center">
    <h2>Welcome to the Photo Management App!</h2>
    <p class="lead">You'll love managing your photos with our app. Sign up!</p>
  </div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card border-light bg-light">
      <div class="card-body">
        <h5 class="card-title btn btn-info btn-lg btn-block">Premium Plan</h5>
        <ul class="plan-listing">
          <li>Unlimited image uploads</li>
          <li>Responsive design</li>
          <li>Access anywhere</li>
          &nbsp;
        </ul>
        <p class="card-text price">Price: $10</p>
        <%= link_to new_user_registration_path, class: "btn btn-primary" do %>
          <%= fa_icon "user-plus" %> Sign up
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-light bg-light">
      <div class="card-body">
        <h5 class="card-title btn btn-info btn-lg btn-block">Amaze Plan</h5>
        <ul class="plan-listing">
          <li>Unlimited image uploads</li>
          <li>Responsive design</li>
          <li>Access anywhere</li>
          <li class="extra">Unlimited projects</li>
        </ul>
        <p class="card-text price">Price: $20</p>
        <%= link_to new_user_registration_path, class: "btn btn-primary" do %>
          <%= fa_icon "user-plus" %> Sign up
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
