@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.user-profile {
  color: rgb(117, 117, 116);
}

.user-profile:hover {
  color: rgb(74, 72, 72);
}

.jumbotron {
  background-image: asset-url('meeting.jpg');
  background-size: cover;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.plan-listing {
  list-style: none;
  color: #d35400;
  font-weight: bold;
}

.price {
  font-family: sans-serif;
  font-size: 25px;
  color: #f39c12;
}
