<% if notice %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <%= fa_icon 'check-circle' %> <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <%= fa_icon 'exclamation-triangle' %> <%= alert %>
  </div>
<% end %>
