<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'Photo App', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <ul class="navbar nav ml-auto">
        <li class="nav-item dropdown">
          <% if current_user %>
            <a class="nav-link dropdown-toggle user-profile" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon "user" %> <%= truncate(current_user.email, length: 25) %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <%= fa_icon "edit" %> Edit Profile
              <% end %>
              <a class="dropdown-item" href="#">Actions</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li>
            <%= link_to destroy_user_session_path, class: "btn btn-danger", method: :delete do %>
              <%= fa_icon "sign-out" %> Log out
            <% end %>
          </li>
          <% else %>
          <li>
            <%= link_to new_user_session_path, class: "btn btn-primary" do %>
              <%= fa_icon "sign-in" %> Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
